<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Training_Layred>
            <version>1.0.0</version>
        </Training_Layred>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <layer>Training_Layred_Model_Catalog_Layer</layer>
                    <layer_filter_item>Training_Layred_Model_Catalog_Layer_Filter_Item</layer_filter_item>

                    <layer_filter_attribute>Training_Layred_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>

                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Training_Layred_Model_CatalogSearch_Layer</layer>
                    <layer_filter_attribute>Training_Layred_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>

            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Training_Layred_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>

                </rewrite>
            </catalog_resource>
            <training_layred>
                <class>Training_Layred_Model</class>
                <resourceModel>training_layred_resource</resourceModel>
            </training_layred>
            <training_layred_resource>
                <class>Training_Layred_Model_Resource</class>
                <entities>
                    <attribute_url_key>
                        <table>training_layred_attribute_url_key</table>
                    </attribute_url_key>
                </entities>
            </training_layred_resource>
        </models>
        <resources>
            <training_layred_setup>
                <setup>
                    <module>Training_Layred</module>
                </setup>
            </training_layred_setup>
        </resources>
        <blocks>
            <catalog>
                <rewrite>
                    <layer_state>Training_Layred_Block_Catalog_Layer_State</layer_state>
                    <layer_filter_attribute>Training_Layred_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Training_Layred_Block_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>

            <training_layred>
                <class>Training_Layred_Block</class>
            </training_layred>
        </blocks>
        <helpers>
            <training_layred>
                <class>Training_Layred_Helper</class>
            </training_layred>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <training_layred>
                        <class>Training_Layred_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </training_layred>
                </observers>
            </controller_front_init_routers>
        </events>
        <index>
            <indexer>
                <training_layred_attribute>
                    <model>training_layred/indexer_attribute</model>
                </training_layred_attribute>
            </indexer>
        </index>
    </global>
    <frontend>
        <translate>
            <modules>
                <training_layred>
                    <files>
                        <default>Training_Layred.csv</default>
                    </files>
                </training_layred>
            </modules>
        </translate>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Training_Layred before="Mage_Catalog">Training_Layred</Training_Layred>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Training_Layred before="Mage_CatalogSearch">Training_Layred</Training_Layred>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <training_layred module="Training_Layred">
                    <file>training_layred.xml</file>
                </training_layred>
            </updates>
        </layout>
    </frontend>
    <default>
        <training_layred>
            <catalog>
                <enabled>1</enabled>
                <ajax_enabled>1</ajax_enabled>
                <price_slider>1</price_slider>
                <multiple_choice_filters>1</multiple_choice_filters>
                <routing_suffix>filter</routing_suffix>
                <attribute_radio>colors</attribute_radio>
                <attribute_checkbox>brand</attribute_checkbox>
            </catalog>
        </training_layred>
    </default>
</config>
